.btn {
    margin-top: 1rem;
}

/* invalid color */
input[type=text].input-validation-error {
    border-bottom: 1px solid #f00;
}
.pfp{
    width:100px;
    height:100px;
    object-fit:cover;
    border-radius:50%;
}